<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script defer src="/js/bootstrap.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <header class="header"><%- include(`./partials/header`) %></header>

    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-lg-4">
          <img
            width="300"
            height="300"
            src="http://localhost/<%= product.img %>"
          />
        </div>
        <div class="col-lg-8">
          <h1><%= product.name %></h1>
          <h3><%= product.price %>.00 руб.</h3>
          <% if (locals.user) { %>
          <a href="/order" class="btn btn-primary">Добавить в корзину</a>
          <% } %>
        </div>
      </div>
    </div>
    <footer class="bg-body-tertiary text-center text-lg-start">
      <%- include(`./partials/footer`) %>
    </footer>
  </body>
</html>
