<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="/js/bootstrap.js"></script>
    <style>
      .header-link,
      .navbar-brand {
        color: white;
      }
    </style>
  </head>
  <body>
    <header><%- include ('./partials/header') %></header>
    <div class="container mt-3 mb-3">
      <h1><%= title %></h1>
      <%#- include ('./partials/messages') %>
      <p>Заполните форму ниже чтобы изменить пост.</p>
      <form method="post" action="/admin/update/product/<%= product.id %>">
        <div class="mb-3">
          <label for="z" class="form-label">Название продукта</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="z"
            aria-describedby="helpId"
            value="<%= product.name %>"
            placeholder="Название продукта"
          />
          <input
            class="form-control mt-3"
            value="<%= product.price %>"
            placeholder="Введите стоимость устройства"
            name="price"
            type="number"
          />
        </div>

        <button type="submit" value="Product" class="btn btn-primary">
          Отправить
        </button>
      </form>
    </div>
    <footer><%- include ('./partials/footer') %></footer>
  </body>
</html>
